<section id="vision" class="c-section">
  <div class="c-container">
    <div class="c-vision-cols">
      <div class="c-vision-col_left">
        Wir glauben, dass IT'ler:innen das größte Standbein unserer Zukunft darstellen und jeder eine Chance haben sollte zu lernen.
      </div>
      <div class="c-vision-col_right">
        Unsere Überzeugung ist klar: IT'ler:innen sind die treibende Kraft unserer Zukunft. In einer zunehmend digitalisierten Welt ist Programmieren mehr als nur eine Fähigkeit - es ist der Schlüssel zur aktiven Teilhabe am technologischen Fortschritt.
        Unsere Mission ist es, diese Tür jedem zu öffnen. Egal, ob Sie bereits Erfahrung haben oder als Anfänger:in starten, wir bieten Ihnen die Gelegenheit, Ihre Fähigkeiten zu entwickeln. Bildung sollte keine Hürde sein, sondern eine Brücke zur Verwirklichung von Träumen.
        Unsere Kurse sind praxisorientiert, praxiserprobt und von Expert:innen geleitet. Hier geht es nicht nur um Code, sondern um kritisches Denken, Kreativität und Lösungsfindung. Gemeinsam schaffen wir eine inklusive Community, in der Wissen geteilt und Karrieren geformt werden.
        Die Zukunft gehört denen, die sich heute vorbereiten. Starten Sie jetzt Ihre Reise mit Kickstart Your IT Career und gestalten Sie die Zukunft der Technologie - eine Zeile Code nach der anderen.
      </div>
    </div>
  </div>
</section>
