<section class="c-section">
    <div class="c-container">
        <div class="c-title-wrapper cc-dark-red">
            <h1 class="c-title-2">Impressum</h1>
        </div>
        <div class="container-fluid">
            <div class="subheader fw-bolder">Angaben gemäß §5 TMG</div>
            <div class="container-fluid fw-normal">Christoph Britsch <br> Kickstart your IT Career (Einzelunternehmer) <br> Von-Ketteler-Str. 32 <br> 51371 Leverkusen </div>
        </div>
        <div class="container-fluid">
            <div class="subheader fw-bolder">Kontakt</div>
            <div class="container-fluid fw-normal">Email: kickstartyouritcareer@gmail.com </div>
        </div>
        <div class="container-fluid">
            <div class="subheader fw-bolder">EU-Streitschlichtung</div>
            <div class="container-fluid fw-normal">Die Europäische Kommission stellt eine Plattform zur Online-Streibeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/adr">https://ec.europa.eu/consumers/adr</a> Unsere Email-Adresse finden sie oben im Impressum</div>
        </div>
        <div class="container-fluid">
            <div class="subheader fw-bolder">Verbraucherstreitbeilegung/Universalschlichtungsstelle</div>
            <div class="container-fluid fw-normal">Ich bin nicht bereit oder verplichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehemen</div>
        </div>
    </div>
</section>
<app-pre-footer></app-pre-footer>