<div class="container-fluid">
  <div class="header">Impressum</div>
  <div class="container-fluid">
    <div class="subheader">Angaben gemäß §5 TMG</div>
    <div class="container-fluid text">Christoph Britsch<p>Kickstart your IT Career (Einzelunternehmer)<p>Adresse auf Anfrage</div>
  </div>
  <div class="container-fluid">
    <div class="subheader">Kontakt</div>
    <div class="container-fluid text">Email: kickstartyouritcareer@gmail.com</div>
  </div>
  <div class="container-fluid">
    <div class="subheader">EU-Streitschlichtung</div>
    <div class="container-fluid text">Die Europäische Kommission stellt eine Plattform zur Online-Streibeilegung (OS) bereit:<p> <a href="https://ec.europa.eu/consumers/adr">https://ec.europa.eu/consumers/adr</a> Unsere Email-Adresse finden sie oben im Impressum</div>
  </div>
  <div class="container-fluid">
    <div class="subheader">Verbraucherstreitbeilegung/Universalschlichtungsstelle</div>
    <div class="container-fluid text">Ich bin icht bereit oder verplichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehemen</div>
  </div>
  <p>
</div>
