<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/website-logo-v1.png" width="400" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active ms-4">
                <a class="nav-link fs-5 fw-normal" href="#">Home</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link fs-5 fw-normal" href="#">About</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link fs-5 fw-normal" href="#">Portfolio</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link fs-5 fw-normal" href="#">Angebote</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link fs-5 fw-normal" href="#">Termine</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link fs-5 fw-normal" href="#">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>

