<div class="container-fluid">
    <div class="mx-auto mt-4" style="max-width: 1750px;">
        <app-navbar></app-navbar>
        <app-starterpage></app-starterpage>
        <app-vision></app-vision>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="container-fluid pre-footer">
    <div class="mx-auto" style="max-width: 1750px;">
        <p style="margin-bottom: 0;">Contact Us In Pre-Footer</p>
    </div>
</div>

<div class="container-fluid app-footer">
    <div class="mx-auto" style="max-width: 1750px;">
        <app-footer></app-footer>
    </div>
</div>
