<div class="c-contact-cols">
    <div class="c-contact-col_left">
        <div class="c-title-wrapper">
            <h2 class="c-title-2">Kontakt aufnehmen</h2>
        </div>
        <div>
            Wir sind 7 Tage die Woche für jegliche Fragen verfügbar! Vergessen Sie nicht, dass unser FAQ Ihnen auch die meisten Antworten liefern kann.<br>
        </div>
        <div class="c-cta-wrapper">
            <a class="fs-5 fw-normal" routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button class="rectangular-button">Anfragen</button>
            </a>
        </div>
    </div>
</div>
