<section class="c-container">
  <p class="text-center header">Dein Weg in zu Deiner Traumkarriere</p>

  <div class="d-flex justify-content-between">
    <div class="box w-25 p-3 col-sm-12">
      <p class="text-center subheader">Dream It.</p>
      <p>
      <p class="text-center text">Es fängt alles mit einem Ziel an. Vielleicht konntest du dich noch nierichtig motivieren. Vielleicht wusstest du nie wo du anfangen sollst.</p>      
    </div>

    <div class="box w-25 p-3 col-sm-12">
      <p class="text-center subheader">Start It.</p>
      <p>
      <p class="text-center text">Wie mit allen Dingen, ist der Anfang immer der schwerste Teil. Darüber musst du dir hier aber keine Sorgen machen.</p>      
    </div>

    <div class="box w-25 p-3 col-sm-12">
      <p class="text-center subheader">Learn It.</p>
      <p>
      <p class="text-center text">Lerne aus meiner Erfahrung. Starte durch und erziele Woche für Woche neue Erfolge</p>      
    </div>

  </div>
  <p>

  <div class="d-flex justify-content-between">
    <div class="box w-25 p-3">
      <p class="text-center subheader">Perfect It.</p>
      <p>
      <p class="text-center text">Werde zur perfekten Vision deiner selbst. Überwinde Motivationslosigkeit, Entmutigung, Prokrastination und nutze deine Zeit effektiver als je zuvor.</p>      
    </div>

    <div class="box w-25 p-3">
      <p class="text-center subheader">Show It.</p>
      <p>
      <p class="text-center text">Zeige deine Erfolge. Stelle dein professionelles Entwickler-Portfolio zusammen und optimiere deine SIchtbarkeit.</p>      
    </div>

    <div class="box w-25 p-3">
      <p class="text-center subheader">Work It.</p>
      <p>
      <p class="text-center text">Finde deinen neuen Traumjob mit einer perfekten Bewerbung. Lass die Firma dich mehr wollen als du sie willst.</p>      
    </div>

  </div>
  <p>

  <p class="w-75 p-3">
    <p class="text-center bottomtext">Schaue dir <u>unsere Coachings</u> an oder vereinbare direkt <u>Dein Kostenloses und unverbindliches Beratungsespräch</u>
  </p>

</section>
