.testamonial-cols {
  grid-column-gap: 3rem;
  justify-content: space-between;
  display: flex;
}

.testamonial-col {
  width: 50%;
  max-width: 100%;
  letter-spacing: -.02em;
  font-size: 1.5rem;
  font-weight: 475;
  line-height: 2rem;
}

.t-container {
  width: 100%;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.kickstart {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  opacity: 90%;
}

.signage {
  font-size: 1rem;
  font-weight: 400;
  opacity: 70%;
}

@media screen and (max-width:767px) {
  .testamonial-cols {
      grid-row-gap: 4rem;
      flex-direction: column;
  }

  .testamonial-col {
      width: 100%;
      font-size: 1rem;
      line-height: 1.75rem;
      max-width: none;
  }
}