<div class="container-fluid pt-5">
   <div class="col-md-6">
      <div class="row mb-3 column-gap-3">

        <div class="box rounded-5 col-md-4">
          <div class="container pt-4 pb-4 ps-3 pe-3.5">
            <div class="float-left">
              <img src="../../../assets/testamonial-1-avatar.png" class="rounded-circle" style="width75px;height:75px;"><h3>Anonymus</h3>
            </div>
            <div class="float-center">
              <div class="splitter">placeholderplaceholderplace</div>
            </div>

            <div class="float-center">
              <p>
              <p>yogidksj efiusdjk fuidsjk fdsihkjn fdishukj hsdfukj  ofsidhnk, iesfhdkj zuhjsdf, eidsfjkn dfshjkn, fhudskj,m fsudhkjn, fsihdk
            </div>

            <div class="opacity-75">
              <i>Kickstart als Cloud Engineer</i>
            </div>

            <div class="opacity-50">
              <i>xx.xx.xxxx</i>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

