/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

.main-bg-color {
    background-color: #F5F3EC;
    color: #222222;
}

* {
    box-sizing: border-box;
}

article, aside, div, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.c-container {
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.c-section {
    border-top: 1px #000;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media screen and (max-width:767px) {
    body {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .c-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .c-section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}