<h1><br></h1>

<div class="container">
  <div class="container">
    <h2>Deine Chance mehr aus Deiner Zukunft zu machen</h2>
    <h3><br></h3>
  </div>
  <div class="box">
      <img src="../../../assets/starterpage-pic1.jpeg" style="width:390;height:260px;">
      <img src="../../../assets/transparent-picture.png" style="width:30px;height:260px;">
      <img src="../../../assets/starterpage-pic2.jpeg" style="width:370px;height:260px;">
      <img src="../../../assets/transparent-picture.png" style="width:30px;height:260px;">
      <img src="../../../assets/starterpage-pic3.jpeg" style="width:350px;height:260px;">
      <img src="../../../assets/transparent-picture.png" style="width:50px;height:260px;">
  </div>
  <br>
  <div class="d-flex justify-content-end">
    <div class="float-right">
      <button type="Interessiert?<br>Gespräch vereinbaren" onclick="">
        <img src="../../../assets/pfeil-nach-unten.png" style="width:40px;40px:height">
      </button>  
    </div>
  </div>
</div>

<h1><br></h1>
<br>
