<div class="c-footer-grid">
  <h2><img src="../../../assets/website-logo-v2.png" id="w-node-d4adbcee-6d9c-ebf0-de6a-238ddf71880c-df718809" style="width:300px;height:60px;"></h2>
  <div id="w-node-2" class="c-footer-link-container">
    <a class="c-nav-link footer" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a class="c-nav-link footer" routerLink="/coaching" routerLinkActive="active" ariaCurrentWhenActive="page">Coaching</a>
    <a class="c-nav-link footer" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Über Mich</a>
    <a class="c-nav-link footer" routerLink="/termine" routerLinkActive="active" ariaCurrentWhenActive="page">Termine</a>
    <a class="c-nav-link footer" routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">Kontakt</a>
  </div>
  <div id="w-node-1" class="c-footer-link-container">
    <a class="c-nav-link footer" routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a>
    <a class="c-nav-link footer" routerLink="/impressum" routerLinkActive="active" ariaCurrentWhenActive="page">Impressum</a>
  </div>
</div>
<div class="c-top-padding">
  © 2023 Kickstart Your IT Career
</div>